<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Stock Exchange Id</th>
          <th scope="col">Stock Exchange Name</th>
          <th scope="col">Write Up</th>
	  <th scope="col">Contact</th>
          <th scope="col">Remarks</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.stockexchangeId }}</td>
          <td>{{ user.stockExchangeName }}</td>
	  <td>{{ user.briefWriteup }}</td>
	  <td>{{ user.contactAddress }}</td>
	  <td>{{ user.remarks }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>